@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url(../public/fonts/Lausanne-300.woff2);
}
@font-face {
    font-family: font2;
    src: url(../public/fonts/Lausanne-500.woff2);
}
@font-face {
    font-family: font3;
    src: url(../public/fonts/AvenirNextCyr-Medium.woff2);
}
@font-face {
    font-family: font4;
    src: url(../public/fonts/AvenirNextCyr-Regular.woff2);
}
@font-face {
    font-family: font5;
    src: url(../public/fonts/Nimbus-Sans-D-OT-Bold-Extended.woff2);
}
@font-face {
    font-family: font6;
    src: url(../public/fonts/TT-Norms-Pro-Regular.otf);
}


.move{
    animation-name: moveAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.moveLink{
    opacity: 0;
    transition: all ease 0.3s;
}

.link:hover .moveLink{
    opacity: 1;
}

@keyframes moveAnimation {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
html, body {
  overflow-x: hidden;

}
.custom-shape-divider-top-1761843176 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1761843176 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 140px;
}

.custom-shape-divider-top-1761843176 .shape-fill {
    fill: #FFFFFF;
}
